// Buttons style
.btn {
  display: inline-block;
  text-decoration: none;
  color: $white;
  text-decoration: none;
  outline: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
  }
  &.submit {
    background: $btnSubmit;
    border-color: $inputLoginBorder;
    border-radius: 6px;
    padding: 8px 25px;
    outline: none;
    &:hover {
      background: $btnSubmitHover;
    }
  }
}