// Form elements style
input[type="text"],
input[type="password"],
input[type="number"] {
  height: 30px;
  border: 1px solid $inputBorder;
  color: $inputColor;
  padding: 10px 15px;
  outline: none;
  border-radius: 4px;
  font-size: 13px;
  width: 100%;
  &.login_input {
    height: 55px;
    background-color: white;
    border: 1px solid $inputLoginBorder;
    font-size: 20px;
    color: #474747;
  }
}
.choose_file {
  position: relative;
  margin-bottom: 15px;
  input[type="file"] {
    display: none;
  }
  label {
    width: 145px;
    height: 28px;
    border: 1px solid $inputTypeBorder;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: $inputTypeColor;
    line-height: 28px;
    &:hover {
      background: $inputTypeHover;
      color: $white; 
    }
  }
  .file_status {
    display: block;
    text-align: center;
  }
}
textarea {
  border: 1px solid $inputBorder;
  border-radius: 2px;
  padding: 20px;
  text-align: left;
}
label {
  cursor: pointer;
}
select {
  width: 145px;
  height: 28px;
  border: 1px solid $inputBorder;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  padding-left: 15px;
  outline: none;
  option {
    cursor: pointer;
  }
}
.custom_checkbox {
  position: relative;
  input[type="checkbox"] {
    display: none;
    &:checked + label {
      &:before {
        content: url("../img/check_dark.png");
      }
    }
  }
  label {
    position: relative;
    padding-right: 38px;
    &:before {
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      margin-top: -12px;
      width: 23px;
      height: 23px;
      border: 1px solid $checkboxBorder;
      border-radius: 4px;
      text-align: center;
      line-height: 23px
    }
  }
  &.left_position {
    input[type="checkbox"] {
      &:checked + label {
        &:before {
          content: url("../img/check_blue.png");
        }
      }
    }
    label {
      padding-right: 0;
      padding-left: 38px;
      &:before {
        right: 100%;
        margin-right: -23px;
      }
    }
  }
}
