ul.nav-tabs {
  width: 100%;
  display: table;
  li {
    display: block;
    float: none;
    text-align: center;
  }
  li.active {
    a {
      color: $tabsLinkActive;
      border-bottom: 4px solid $tabsLinkActive;
      background: none;
      &:hover, &:focus {
        color: $tabsLinkActive;
        border-bottom: 4px solid $tabsLinkActive;
        background: none;
      }
    }
  }
  a {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: 4px solid $tabsLinkUnActive;
    color: $tabsLinkUnActive;
    margin-right: 0;
    padding: 15px 0;
    &:focus, &:hover {
      color: $tabsLinkActive;
      border-bottom: 4px solid $tabsLinkActive;
      background: none;
    }
  }
}
.tab-content {
  padding-top: 50px;
}

@media screen and (min-width: $smallScreen) {
  ul.nav-tabs {
    li {
      display: table-cell;
    }
  }
}