// Style for project content

.middle_content {
  padding-top: 50px;
  padding-bottom: 90px;
}
a:hover {
  cursor: pointer;
}
section {
  text-align: center;
}

html, body {
  min-height: 100%;
  position: relative;

  .wrapper {
    height: 100%;
  }
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}