.employees {
	background:url("../img/employee-bg.jpg") no-repeat center center/cover;
	color:$employeesTextColor;
	text-align: center;
	padding: 60px 0 0;

	&-block {
		text-align: center;
		padding: 0 20px 50px;
	}
	&-title {
		display: inline-block;
		margin-bottom: 60px;
		color:$employeesTitleColor;
		font-size: 22px;
		line-height: 22px;
		border-bottom: 1px solid $employeesTitleColor;
	}
	&-video {
		width: 100%;
	}
	&-image {
		width: 100%;
	}
	figure {
		position: relative;
	}
	&-image-caption {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		text-align: left;
		font-size: 12px;
		background-color: $employeesImgCaptionBg;
		padding: 10px 15px;
	}
	&-image-title {
		margin-bottom: 0;
	}
	&-image-section {
		margin-bottom: 0;
		color: $employeesTextColorExtra;
	}
}

@media screen and (min-width: $smallScreen) {
	.employees {

		padding: 60px 0 75px;

		&-block {
			text-align: left;
			padding: 0;
		}
	}
}