// Footer block
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	background-color: $footerBgColor;
	color:$footerColor;

	&-menu {
		padding-top: 65px;
	}
	&-col {
		display: inline-block;
		text-align: left;
		margin-bottom: 50px;
	}
	&-col-title {
		margin-bottom: 40px;
		font-size: 20px;
	}
	&-list {
		list-style-type: none;
		padding-left: 0;
	}
	&-sub-list {
		padding: 15px 0 0 20px;
	}
	&-list-item {
		font-size: 15px;
		margin:0 0 16px;
		color:$footerColor;
		text-decoration: none;
	}
	&-bottom {
		background-color: $footerBottomBgColor;
		padding: 30px 0 0 0;
	}
	&-bottom-txt, &-bottom-copyright {
		font-size: 15px;
		margin-bottom: 20px;
		text-align:right;
	}
}

@media screen and (min-width: $smallScreen) {
	.footer {
		text-align: center;

		&-col {
			margin: 0 0 50px;
		}

		&-bottom-txt{
			text-align:left;
		}
	}
}