// Header block style

.main-header {
  position: relative;
  .top_navigation {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    .navbar-toggle {
      float: none;
      color: $white;
      font-size: 20px;
      margin: 0;
      margin-top: 5px;
    }
    .navbar-collapse {
      border-top: none;
      box-shadow: none;
    }
  }
  .navbar-collapse {
    max-width: 300px;
    position: relative;
    z-index: 50;
    top: -60px;
    left: -16px;
    .close_menu {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 20px;
      color: $white;
      cursor: pointer;
    }
  }
  .navbar-nav {
    background: rgba( $listBg, .9);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    li {
      position: relative;
    }
    span {
      color: $white;
      background: none !important;
      padding: 5px;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 15px;
      &:hover {
        color: $navLinkActive;
        border-color: transparent;
      }
    }
    li.active {
      & > span {
        color: $navLinkActive;
      }
    }
  }
  .user_social {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  .user_box {
    position: relative;
    padding: 4px 22px 4px 10px;
    border: 1px solid $green1;
    max-width: 160px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    cursor: pointer;
    &:after {
      position: absolute;
      right: 7px;
      top: 50%;
      margin-top: -2px;
      content: '';
      width: 0%;
      height: 0;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 5px solid $white;
    }
    .img_container, .body_container {
      display: table-cell;
      vertical-align: middle;
    }
    .body_container {
      padding-left: 10px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 72px;
        margin-bottom: 0;
        color: $white;
        font-size: 14px;
        margin-right: 5px;
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
    .drop_social {
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      padding: 10px;
      margin-left: 0;
      text-align: center;
      display: none;
      a {
        margin: 0 10px;
      }
    }
    &.open {
      .drop_social {
        display: block;
      }
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .social, .drop_social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
    .social_facebook {
      background: $facebookBg;
    }
    .social_twitter {
      background: $twitterBg;
    }
    a {
      color: $white;
      display: inline-block;
      width: 27px;
      height: 27px;
      text-align: center;
      font-size: 14px;
      border-radius: 50%;
      margin-left: 7px;
      line-height: 27px;
      &:hover {
        opacity: .9;
      }
    }
  }
  .social {
    display: none;
  }
  .drop_social {
    display: none;
  }

  .sub_menu {
    background: rgba( $listBgSub, .6);
    padding: 15px 0 5px;
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.17);
    margin-bottom: 15px;
    li {
      list-style-type: none;
      margin-bottom: 15px;
    }
    a {
      border-bottom: none !important;
      color: $white;
      text-decoration: none;
      font-size: 16px;
      padding: 0;
      display: block;
    }
  }
}
.header_slider {
  .item {
    height: 500px;
    & > img {
      max-width: 767px !important;
      height: 100%;
    }
  }
  .carousel-caption {
    bottom: 50%;
    margin-bottom: -90px;
    text-shadow: none;
    img {
      max-width: 200px;
    }
    p {
      margin-top: 20px;
      font-size: 15px;
    }
  }
  .carousel-control {
    display: none;
  }
  .carousel-indicators {
    li {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }
  .arrow_container {
    position: absolute;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: $smallScreen) {
  .main-header {
    .top_navigation {
      padding-top: 25px;
    }
    .user_box {
      margin-top: 0;
    }
    .user_social {
      text-align: left;
      position: static;
    }
    .sub_menu {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -60px;
      width: 120px;
      text-align: center;
      background: rgba( $subMenuBg, .25);
      padding: 8px 0 0;
      display: none;
      transition: all 1s;
      margin-bottom: 10px;
      &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: 50%;
        right: 50%;
        height: 2px;
        background-color: $navLinkActive;
        transition:all 0.3s ease;
      }
      li {
        list-style-type: none;
        margin-bottom: 10px;
      }
      a {
        border-bottom: none !important;
        color: $white;
        text-decoration: none;
        font-size: 11px;
        padding: 0;
        display: block;
        &:hover {
          color: $navLinkActive;
        }
      }
      li + li {
        margin-left: 0 !important;
      }
    }
    .navbar-collapse {
      max-width: 100%;
      position: static;
      .close_menu {
        display: none;
      }
    }
    .navbar-nav {
      background: none;
      padding: 0;
      span {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  .navbar-nav {
    li + li {
      margin-left: 5px;
    }
    & > li:hover {
      .sub_menu {
        display: block;
      }
      .sub-menu:before {
        left: 0;
        right: 0;
        transform: translate(-50%, 0);
      }
    }
  }
  .header_slider {
    .item {
      height: auto;
      & > img {
        width: 100%;
        max-width: 100% !important;
        height: auto;
      }
    }
    .carousel-caption {
      margin-bottom: -105px;
      p {
        margin-top: 15px;
        font-size: 25px;
      }
      img {
        max-width: 410px;
      }
    }
    .carousel-control {
      display: block;
      background: none;
      opacity: 1;
      height: 40px;
      width: 40px;
      top: 50%;
      margin-top: -20px;
      i {
        font-size: 40px;
      }
    }
    .carousel-indicators {
      li {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media screen and (min-width: $mediumScreen) {
  .main-header {
    .navbar-nav {
      li + li {
        margin-left: 25px;
      }
    }
    .social {
      margin-left: 5px;
      display: inline-block;
    }
    .user_box {
      margin-top: 0;
      max-width: 130px;
      padding: 4px 10px;
      &:after {
        content: none;
      }
      &.open {
        .drop_social {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $smallScreen) {
  #accordion {
    ul.sub_menu {
      display: none;
    }
  }
}