.news {
	color:#5d5d5d;
	font-size: 12px;
	text-align: center;
	padding: 60px 0;

	&-block {
		position: relative;
		max-width:230px;
		margin: 0 auto;
		padding-bottom: 6px;
	}
	&-image {
		width: 100%;
	}
	&-image-caption {
		text-align: left;
		font-size: 12px;
		background-color: $employeesImgCaptionBg;
		padding: 10px 15px;
	}
	&-image-title {
		margin-bottom: 10px;
	}
	&-image-section {
		margin-bottom: 0;
		color:  #0099ff;
		font-size: 10px;
		text-decoration: none;
	}
	&-details {

		display: none;

		position: absolute;
		text-align: left;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fabd0a;

		&-title, &-text, &-link {
			padding: 18px;
		}

		&-title {
			font-size: 16px;
			background-color: #eaeaea;
		}
		&-text {
			font-size: 15px;
			color: #fff;
		}
		&-link {
			text-decoration: none;
			color: #ffffff;
			position: absolute;
			bottom: 0;
			font-size: 12px;
		}
	}
	.owl-carousel {

	}
	.owl-nav {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.owl-prev, .owl-next {
		position: absolute;
		width: 36px;
		height: 36px;
		top: 50%;
		transform: translateY(-50%);
		content:none !important;
		background-image: url('../img/circle-arrows.png');
		transition: all 0.6s ease;
		&:hover {
			opacity: 0.5;
		}
	}
	.owl-prev {
		left: -40px;
		background-position: 37px 0;
		&:hover {
			background-position: 37px 0;
		}
	}
	.owl-next {
		right: -40px;
		background-position: 37px 37px;
		&:hover {
			background-position: 37px 37px;
		}
	}
}
@media screen and (max-width: $smallScreen) {
	.owl-prev {
		left: -10px !important;
	}
	.owl-next {
		right: -10px !important;
	}
}