.news {
	font-size: 12px;
	text-align: center;
	padding: 60px 0;

	&-block {
		position: relative;
		max-width:230px;
		margin: 0 auto;
		border-bottom: 5px solid $newsBorderColor;
		&:hover {
			.news-details {
				top: 0;
			}
		}
	}
	&-image {
		width: 100%;
	}
	&-image-caption {
		text-align: left;
		font-size: 12px;
		background-color: $newsImgCaptionBg;
		padding: 15px;
	}
	&-image-title {
		color: $newsImageTitleColor;
		margin-bottom: 2px;
	}
	&-image-text {
		margin-bottom: 0;
		color:  $newsImageTextColor;
		font-size: 10px;
		text-decoration: none;
	}
	&-details {
		position: absolute;
		text-align: left;
		top: 76%;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $newsDetailsBg;
		transition:all 0.5s ease;

		&-title, &-text, &-link {
			padding: 18px;
		}

		&-title {
			font-size: 16px;
			background-color: $newsDetailsTitle;
		}
		&-text {
			font-size: 15px;
			color: $newsDetailsText;
			height: 140px;
			overflow: hidden;
		}
		&-btn {
			padding: 10px 15px;
			background-color: $newsDetailsBtnBg;
			color: $newsDetailsBtnColor;
			text-decoration: none;
			margin-left: 20px;
			font-size: 12px;

			&:hover {
				color: $newsDetailsBtnColor;
			}
		}
	}
	.owl-prev, .owl-next {
		display: none !important;
		position: absolute;
		top: 0;
		width: 60px;
		height: 85%;
		transition: all 0.6s ease;
		&:after {
			content: '';
			width: 36px;
			height: 36px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-image: url('../img/circle-arrows.png');
			background-repeat: no-repeat;
		}
		&:hover {
			opacity: 0.5;
		}
	}
	.owl-prev {
		left: -36px;
		&:after {
			left: 0;
			background-position: 0 0;
		}
	}
	.owl-next {
		right: -36px;
		&:after {
			right: 0;
			background-position: -2px -36px;
		}
	}
	.owl-dots {
		padding-top: 30px;
	}
	.owl-dot {
		display: inline-block;
		width: 15px;
		height: 15px;
		border:2px solid $owlDotBorder;
		border-radius:50%;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background-color: $owlDotBg;
		}
	}
	.btn-view-all {
		margin-top: 50px;
		display: inline-block;
		height: 44px;
		line-height: 44px;
		font-size: 22px;
		padding: 0 50px;
		color:$newsViewBtnColor;
		background-color: $newsViewBtnBg;
		text-decoration: none;
	}
}
@media screen and (min-width: $smallScreen) {
	.owl-prev, .owl-next {
		display: block;
	}
}