.organization-chart {

	&-block {
		position: relative;
	}
	&-scheme {
		width: 100%;
	}
	&-logo {
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media screen and (max-width: $smallScreen) {

	.organization-chart {

		&-block {
			padding-top: 60px;
		}
		&-logo {
			top: 0;
			right: 0;
			left:0;
			max-width: 130px;
			margin: 0 auto;
		}
	}
}