.organization-chart {
	padding: 50px 0 80px;
	&-block {
		position: relative;
	}
	&-scheme {
		width: 100%;
	}
	&-logo {
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media screen and (max-width: $smallScreen) {

	.organization-chart {

		&-logo {
			top: -32px;
			max-width: 100px;
		}
	}
}