.security_policy_content {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
  p {
    color: $tabContentColor;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 5px;
    span.row_title {
      font-weight: bold;
    }
  }
}

